html, body {
    
    width: 100%;
    height: 100%;
    font-family: 'Viga', sans-serif;
    letter-spacing: .5px;
    color: black;
    background-color: #d6d5d5;
    position:relative;
}

body{
    margin:0;
}
nav {
    background-color: #113643;
    display: flex;
    width: 100%;
    height: 10vh;
}
    @keyframes heading {
    from {opacity: 0;}
    to {opacity: 1;}
}
nav h1 {
    color: white;
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    padding: 5px 0px;
    margin-block-start: 0px;
    margin-block-end: 0;
    animation: heading 3s;
    animation-fill-mode: forwards;
}
nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
 nav li { 
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Merriweather sans', sans-serif;
    letter-spacing: 2px; 
    margin: 0px 40px;  
}
#container {
    display:flex;
    justify-content: center;
    height: 240px;
    left: 15%;
    margin: 10% auto 0 auto;
    width: 69%;
    background:#20776A;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
form {
    margin: 0 auto;
}
label {
    color: white;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 16px;
}
input {
    font-family: 'Viga', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
    margin: 20px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: black;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4);
    transition: all .4s ease;

}
#lower {
    background: #20776A;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.checkbox {
    margin-left: 3px;
}
input[type=submit] {
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: 'Viga', sans-serif;
    letter-spacing: .5px;
    border-radius: 30px;
    cursor: pointer;
}
#background-wrap {
    display:flex;
    justify-content: space-between;
    bottom: -20px;
    left: 0;
    position: absolute;  
    height:50px;
    width:100%;
    /* background:green; */
}
#background-wrap .bubble {
    position: relative;
    background-color: rgb(231, 254, 255);
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.x1{
    animation: bubbleX1 4s linear;
}
.x2{
    animation: bubbleX2 3s linear;
}
.x3{
    animation: bubbleX3 6s linear;
}
.x4{
    animation: bubbleX4 2s linear;
}
.x5{
    animation: bubbleX5 3s linear;
}
.x6{
    animation: bubbleX5 6s linear;
}
.x7{
    animation: bubbleX5 3s linear;
}
.x8{
    animation: bubbleX5 5s linear;
}
.x9{
    animation: bubbleX5 2s linear;
}
.x10{
    animation: bubbleX5 4s linear;
}

@keyframes animateBubble {
    0% {bottom: 0;}
    100% {bottom: 500px;}
}

@keyframes bubbleX1 {
    0% {bottom: 0;}
    50%{bottom:250px; margin-left:50px;}
    100% {bottom: 600px;}
}

@keyframes bubbleX2 {
    0% {bottom: 0;}
    50%{bottom:250px; margin-left:20px;background-color: red;}
    100% {bottom: 600px;}
}

@keyframes bubbleX3 {
    0% {bottom: 0;}
    50%{bottom:230px; margin-left:45px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX4 {
    0% {bottom: 0;}
    50%{bottom:150px; margin-left:65px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX5 {
    0% {bottom: 0;}
    50%{bottom:200px; margin-left:35px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX6 {
    0% {bottom: 0;}
    50%{bottom:300px; margin-left:100px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX7 {
    0% {bottom: 0;}
    50%{bottom:360px; margin-left:55px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX8 {
    0% {bottom: 0;}
    50%{bottom:325px; margin-left:45px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX9 {
    0% {bottom: 0;}
    50%{bottom:200px; margin-left:22px;}
    100% {bottom: 600px;}
}
@keyframes bubbleX10 {
    0% {bottom: 0;}
    50%{bottom:400px; margin-left:65px;}
    100% {bottom: 600px;}
}

footer {
    background-color: #d6d5d5;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    position: absolute;
    bottom: 0;
}
footer .help {
    flex-direction: column;
    height: 30vh;
}
footer .help h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    margin: 0px 20px 10px 0px;
}
footer .help ul li a { 
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
footer .shop {
    flex-direction: column;
    height: 30vh;
}
footer .shop h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer .shop ul li a {
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
footer .learn {
    flex-direction: column;
    height: 30vh;
}
footer .learn h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer .learn ul li a {
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
footer .guides {
    flex-direction: column;
    height: 30vh;
}
footer .guides h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer .guides ul li a {
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
