body {
    padding: 0;
    margin: 0;
}   
nav {
    background-color: #113643;
    display: flex;
    width: 100%;
}
    @keyframes heading {
    from {opacity: 0;}
    to {opacity: 1;}
}
nav h1 {
    color: white;
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    padding: 5px 0px;
    margin-block-start: 0px;
    margin-block-end: 0;
    animation: heading 3s;
    animation-fill-mode: forwards;
}
nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
 nav li { 
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Merriweather sans', sans-serif;
    letter-spacing: 2px; 
    margin: 0px 40px;  
}
.container {
    display: flex;
}
.box1 {
    width: 60vw;
    height: 80vh;
    background-color: rgba(32, 119, 106, 0.62); 
}
.box1 img {
    height: 80vh;
    width: 60vw;
}
.box2 {  
    width: 40vw;
    height: 80vh;
    background-color: #d6d5d5;    
}
.box2 h1 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
    margin: 30px 30px 0px 20px;
}
.box2 h2 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
    color: rgba(32, 119, 106, 0.62);
    margin: 15px 30px 30px 20px;
}
.box2 .iconText, .iconText2 {
    display: flex;
}
.box2 .iconText img { 
    width: 3vw;
    height: 6vh;
}
.box2 .iconText2 img {
    width: 3vw;
    height: 6vh;
}
.box2 h3 {
    text-align: right;
    font-family: 'Viga', sans-serif;
    display: inline-block;

}
.box2 p {
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 40px 10px;
}
.box2 button {
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 0.5px;
    background-color: #20776A;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 35%;
    align-content: center; 
    justify-content: center;
}
.box2 button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
}
.main {
    flex-flow: column;
}

 .box3 .p-wrapper {
     padding-top: 70px;
 }
.woman-image{
    width: 30%;
    height: auto;
    margin:5%;
}
.input h4 {
    font-family: 'Viga', sans-serif;
}
.box3 {
    display:flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: #d6d5d5;
    margin:0;
}
.box3 h2 {
    margin-left: 15px;
    font-family: 'Viga', sans-serif;
    margin:0;
}
 .box3 p {
    font-family: 'Viga', sans-serif;
    margin-left: 15px; 
}

.container2 {
    display: flex;
}
.container2 .column {
    width: 50vw;
    height: 600px;
    background-color: #d6d5d5;
    font-family: 'Viga', sans-serif;
}
.column h2 {
    font-size: 24px;
    margin: 20px 0px 30px 0px;
    text-align: center;
}
.column p {
    font-size: 18px;
    text-align: center;
    margin: 0px 40px 10px 40px;
}
.container2 .column2 {
    width: 50vw;
    height: 600px;
}
.container2 .column2 h2 {
    text-align: center;
}
.container2 .column2 p {
    font-size: 18px;
    text-align: center;
    margin: 0px 40px 10px 40px;
}
.container2 .column img {
    width: 73%;
    height: 42vh;
    margin-left: 95px;
    padding-top: 40px;
} 
.container2 .column button {
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 0.5px;
    background-color: #20776A;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 35%;
    align-content: center; 
    justify-content: center;
}
.container2 .column button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
}
.container2 .column2 {
    font-family: 'Viga', sans-serif;
    background-color: #d6d5d5;
}
.container2 .column2 img {
    width: 70%;
    height: 42vh;
    margin-left: 110px;
    padding-top: 40px;
}
.container2 .column2 button {
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 0.5px;
    background-color: #20776A;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 35%;
    align-content: center; 
    justify-content: center;
}
.container2 .column2 button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
}
footer {
    background-color: #d6d5d5;
    display: flex;
    justify-content: space-evenly;
    height: 60vh;  
}
footer .help {
    flex-direction: column;
    height: 30vh;
}
footer .help h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    margin: 0px 20px 10px 0px;
}
footer .help ul li a { 
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
footer .shop {
    flex-direction: column;
    height: 30vh;
}
footer .shop h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer .shop ul li a {
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
footer .learn {
    flex-direction: column;
    height: 30vh;
}
footer .learn h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer .learn ul li a {
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
footer .guides {
    flex-direction: column;
    height: 30vh;
}
footer .guides h4 {
    font-family: 'Viga', sans-serif;
    font-size: 24px;
}
footer .guides ul li a {
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* -----------------------------------------------media-queries----------------------------------------------------- */

@media only screen 
and (max-width: 500px) {
    body {
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .box1 img, .box2 img, .container2 .column, .container2 .column2, .box1, .box2, .box3{
        width: 100%;
    }
    .box3, .column, .container, .container2 {
        flex-direction: column;
    }
    .box3 {
        height: 100%;
    }
    .box3 img {
        width: 80%;
        margin: auto;
    }
    .navbar {
        padding: 0;
    }
    nav {
        flex-direction: column;
    }

}

